# Database & Backups
*.db
*.db-wal
*.db-shm
*.bak
*.db.*.bak
*.sql

# Logs
*.log

# Secrets & Environments
.streamlit/secrets.toml
.env
secrets.json

# Python Cache & Tests
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment0
venv/
env/

# OS Files
.DS_Store
Thumbs.db